body{
	background-color:black; 
}
#div1 li{
	text-align: center;
	display: inline-block;
	color: red;
	list-style: none;
	font-weight: bold;
   }
  #div1 ul{
  	text-align: center;
  	background-color: yellow;
  	border: solid red;
  }
h1{
	margin-top: 10px;
	text-transform: uppercase;
	color: red;
	text-align: center;
	text-decoration: underline;
	font-family: fantasy;
	font-weight: bold;
}
li.stark{
	color: grey;
	text-align: center;
	list-style: none;
	background-color: white;
	font-weight: bold;
}
li.vale{
	color: white;
	text-align: center;
	background-color: blue;
	list-style: none;
	border: solid black;
	background-size: 2px;
}
li.grey{
	color: gold;
	text-align: center;
	list-style: none;
}
li.west{
	color: gold;
	text-align: center;
	background-color: crimson;
	list-style: none;

}
	p{color: yellow;
		font-family: fantasy;
	}

	li{
		text-decoration: underline;
		font-weight: bold;	
		font-family: fantasy;
	}
	img{
		transition: all 1s;
		margin-right: 10px;

	}
	img:hover{
		transform: scale(1.1);
	}
	img{
		display: flex;
		flex-wrap: wrap;
		float: left;
	}

   