body {
    margin: auto 0;
}



.zone {
    /*padding:30px 50px;
    margin:40px 60px;*/
    cursor:pointer;
    /*display:inline-block;*/
    color:#FFF;
    font-size:2rem;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin:0;
    font-style: red;
}



@media only screen and (max-width: 600px){
    .main-nav {
        font-size: 5em;
        padding: 0;
    }
}


.push {
    margin-left: auto;
}

li{
 padding: 20px;
 font-family: fantasy;
 font-weight: bold;   
}

a{
    color: gold;
    text-decoration: none;
    font-style: uppercase;
    text-transform: uppercase;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.cover {
    width: 50rem;
    height: 100%
}


.grid-wrapper {
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img{
    width: 100%;

}
.box{
    background-color: #444;
    padding: 130px;
    margin: 20px;
    border-color: gold;
}

footer {
    text-align: center;
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/

.green{
 background-color: black;
 border-color: gold;
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background-color: black;
    border-color: gold;
}


/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top,); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background-color: black;
    border-color: gold;
}
